/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

table {
  width: 100%;
   /* row spacing / margin */
  border-spacing: 0 8px !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-color: rgba(0,0,0,.12);
  border-left: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  padding-left: 11px;
  padding-right: 5px;
  text-align: center;
}

.mat-header-cell {
  color: #212529;
  background: rgb(62 138 204 / 25%);
}

.mat-header-cell {
  font-size: 14px;
  font-weight: bold;
}

/* 
td, th {
  width: 25%;
} */
